.process-content {
	/*background-color: #D5D5D5;*/
}
.process-row {
	padding: 10px 0;
}
.process-content-part {
	padding-bottom: 10px;
}
.process-row h2 {
	padding-bottom: 10px;
}
.process-row h3 {
	padding-bottom: 5px;
}
.process-row p {
	padding-bottom: 5px;
}
