* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	/*box-sizing:border-box;*/
	/*-moz-box-sizing:border-box; /* Firefox */
	/*-webkit-box-sizing:border-box; /* Safari */
}
/*清除浮动*/
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.clearfix {
	zoom: 1;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.longContent {
	white-space: normal !important;
}
/*颜色*/
.red {
	color: red;
}
.blue {
	color: blue;
}
.orange {
	color: #FB8423;
}
.grey {
	color: #646464;
}
.bold {
	font-weight: 800;
}
.underline {
	text-decoration: underline;
}
.indent {
	text-indent:2em;
}